body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --m3-label-large: Roboto;

  /* font sizes */
  --m3-label-large-size: 14px;
  --font-size-47xl: 66px;
  --m3-body-large-size: 16px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #989393;
  --color-gray-200: #8e8e8e;
  --color-gray-300: #938585;
  --color-gray-400: #817e7e;
  --color-dimgray-100: #716f6f;
  --color-dimgray-200: #505050;
  --color-darkgray-100: #a79a9a;
  --color-darkgray-200: #9a9a9a;
  --m3-sys-dark-primary: #d0bcff;
  --m3-sys-dark-on-primary: #381e72;
  --m3-sys-dark-on-surface: #e6e0e9;
  --color-gainsboro-100: #d9d9d9;
  --color-black: #000;
  --m3-sys-dark-on-surface-variant: #cac4d0;
  --color-silver-100: #c5c3c3;
  --color-silver-200: #c1bebe;

  /* Gaps */
  --gap-13xl: 32px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-11xl: 30px;
  --br-13xl: 32px;
  --br-47xl-5: 66.5px;
  --br-8xl: 27px;
  --br-20xl: 39px;
  --br-16xl: 35px;
  --br-81xl: 100px;
}
