.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-100);
  width: 360px;
  height: 85px;
}
.frame,
.frame-icon {
  position: absolute;
  top: 2048px;
  left: 252px;
  width: 936px;
  height: 85px;
  overflow: hidden;
}
.frame-icon {
  top: 41px;
  left: 0;
  width: 1440px;
  height: 1006px;
}
.content1 {
  flex: 1;
  height: 40px;
}
.iconsmore-vert-24px {
  width: 24px;
  position: relative;
  height: 24px;
}
.container,
.state-layer {
  flex-direction: row;
  justify-content: center;
}
.state-layer {
  display: flex;
  align-items: center;
  padding: var(--padding-5xs);
}
.container {
  border-radius: var(--br-81xl);
  overflow: hidden;
}
.container,
.header,
.icon-button {
  display: flex;
  align-items: center;
}
.icon-button {
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
}
.header {
  align-self: stretch;
  height: 72px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-9xs) var(--padding-xs)
    var(--padding-base);
  box-sizing: border-box;
}
.media-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.subhead,
.title {
  width: 328px;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: inline-block;
}
.subhead {
  font-size: var(--m3-label-large-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--m3-sys-dark-on-surface-variant);
}
.headline {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--m3-body-large-size);
}
.label-text,
.supporting-text {
  position: relative;
  line-height: 20px;
}
.supporting-text {
  align-self: stretch;
  letter-spacing: 0.25px;
  color: var(--m3-sys-dark-on-surface-variant);
}
.label-text {
  letter-spacing: 0.1px;
  font-weight: 500;
}
.primary-action,
.state-layer1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.state-layer1 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xl);
}
.primary-action {
  border-radius: var(--br-81xl);
  background-color: var(--m3-sys-dark-primary);
  overflow: hidden;
  flex-direction: column;
}
.actions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: center;
  color: var(--m3-sys-dark-on-primary);
}
.media-text-content,
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text-content {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-13xl);
}
.media-text-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
}
.content,
.content2 {
  top: 0;
  border-radius: var(--br-xs);
  width: 360px;
}
.content {
  position: absolute;
  left: 0;
  height: 480px;
  overflow: hidden;
}
.content2 {
  left: 384px;
}
.content2,
.content4,
.frame1 {
  position: absolute;
  height: 480px;
  overflow: hidden;
}
.content4 {
  top: 0;
  left: 768px;
  border-radius: var(--br-xs);
  width: 360px;
}
.frame1 {
  top: 1094px;
  left: 156px;
  width: 1128px;
}
.div,
.div1,
.div2 {
  position: absolute;
  top: 99px;
  left: 196px;
  letter-spacing: 0.47px;
  line-height: 94.36px;
  font-weight: 500;
}
.div1,
.div2 {
  left: 484px;
}
.div2 {
  left: 772px;
}
.frame-item,
.frame2 {
  position: absolute;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-100);
}
.frame2 {
  top: 1658px;
  left: 156px;
  width: 1128px;
  height: 280px;
  overflow: hidden;
  font-size: var(--font-size-47xl);
  color: var(--color-black);
}
.frame-item {
  top: 944px;
  left: 0;
  width: 456px;
  height: 85px;
}
.frame-child1,
.frame-child2,
.frame-child3,
.frame-child4,
.frame-inner,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 96px;
  border-radius: var(--br-xs) 0 0 var(--br-xs);
  background-color: var(--color-gray-300);
  width: 303px;
  height: 250px;
}
.frame-child1,
.frame-child2,
.frame-child3,
.frame-child4,
.rectangle-div {
  top: 297px;
}
.frame-child1,
.frame-child2,
.frame-child3,
.frame-child4 {
  top: 594px;
}
.frame-child2,
.frame-child3,
.frame-child4 {
  top: 250px;
  left: 1033px;
  background-color: var(--color-gainsboro-100);
  width: 649px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-child3,
.frame-child4 {
  top: 547px;
}
.frame-child4 {
  top: 844px;
}
.actions3,
.actions4,
.actions5 {
  position: absolute;
  top: 169px;
  left: 673px;
  width: 328px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.actions4,
.actions5 {
  top: 466px;
}
.actions5 {
  top: 763px;
}
.frame3,
.frame4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1033px;
  height: 1029px;
  overflow: hidden;
}
.frame3 {
  top: 2180px;
  left: 156px;
  width: 1128px;
  text-align: center;
  color: var(--m3-sys-dark-on-primary);
}
.frame-child5,
.frame-child6 {
  position: absolute;
  height: 133px;
}
.frame-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-20xl) 0 var(--br-16xl) 0;
  background-color: var(--color-darkgray-100);
  width: 168px;
}
.frame-child6 {
  left: 192px;
  border-radius: var(--br-8xl);
}
.frame-child6,
.frame-child7,
.frame-child8 {
  top: 0;
  background-color: var(--color-darkgray-100);
  width: 168px;
}
.frame-child7 {
  position: absolute;
  left: 384px;
  border-radius: var(--br-47xl-5);
  height: 133px;
}
.frame-child8 {
  left: 576px;
  border-radius: var(--br-13xl);
}
.frame-child8,
.frame-child9,
.frame5 {
  position: absolute;
  height: 133px;
}
.frame-child9 {
  top: 0;
  left: 768px;
  border-radius: var(--br-11xl) 0 0 0;
  background-color: var(--color-darkgray-100);
  width: 168px;
}
.frame5 {
  top: 3294px;
  left: 252px;
  width: 936px;
  overflow: hidden;
}
.ellipse-div {
  position: absolute;
  top: 147px;
  left: 146px;
  border-radius: 50%;
  background-color: var(--color-dimgray-200);
  width: 274px;
  height: 271px;
}
.frame-child10,
.frame-child11,
.frame-child12,
.frame-child13,
.frame-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-100);
  width: 192px;
  height: 20px;
}
.frame-child11,
.frame-child12,
.frame-child13,
.frame-child14 {
  top: 34px;
}
.frame-child12,
.frame-child13,
.frame-child14 {
  top: 68px;
  width: 117.3px;
  height: 19px;
}
.frame-child13,
.frame-child14 {
  top: 101px;
  width: 174.8px;
  height: 20px;
}
.frame-child14 {
  top: 135px;
  width: 143.6px;
}
.rectangle-group,
.rectangle-parent {
  position: absolute;
  top: 93px;
  left: 516px;
  width: 192px;
  height: 155px;
}
.rectangle-group {
  top: 285px;
}
.frame-child20,
.frame-child21,
.frame-child22,
.frame-child23,
.frame-child24 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-100);
  width: 180px;
  height: 20px;
}
.frame-child21,
.frame-child22,
.frame-child23,
.frame-child24 {
  top: 34px;
}
.frame-child22,
.frame-child23,
.frame-child24 {
  top: 68px;
  width: 110px;
  height: 19px;
}
.frame-child23,
.frame-child24 {
  top: 101px;
  width: 163.8px;
  height: 20px;
}
.frame-child24 {
  top: 135px;
  width: 134.6px;
}
.frame-div,
.rectangle-container {
  position: absolute;
  top: 93px;
  left: 827px;
  width: 180px;
  height: 155px;
}
.frame-div {
  top: 285px;
}
.frame-child30,
.frame-child31,
.frame-child32,
.frame-child33,
.frame-child34,
.frame-child35 {
  position: absolute;
  top: 546px;
  left: 156px;
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-100);
  width: 1128px;
  height: 15px;
}
.frame-child31,
.frame-child32,
.frame-child33,
.frame-child34,
.frame-child35 {
  top: 0;
  left: 0;
  width: 168px;
  height: 20px;
}
.frame-child32,
.frame-child33,
.frame-child34,
.frame-child35 {
  top: 34px;
}
.frame-child33,
.frame-child34,
.frame-child35 {
  top: 68px;
  width: 102.7px;
  height: 19px;
}
.frame-child34,
.frame-child35 {
  top: 101px;
  width: 152.9px;
  height: 20px;
}
.frame-child35 {
  top: 135px;
  width: 125.6px;
}
.frame6,
.rectangle-parent1,
.rectangle-parent2 {
  position: absolute;
  top: 93px;
  left: 1116px;
  width: 168px;
  height: 155px;
}
.frame6,
.rectangle-parent2 {
  top: 285px;
}
.frame6 {
  top: 3546px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 644px;
  overflow: hidden;
}
.home-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 4190px;
  overflow: hidden;
  text-align: left;
  font-size: var(--m3-label-large-size);
  color: var(--m3-sys-dark-on-surface);
  font-family: var(--m3-label-large);
}
