.news-child {
  position: absolute;
  bottom: 981px;
  left: calc(50% - 564px);
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-100);
  width: 456px;
  height: 85px;
}
.news-child1,
.news-child2,
.news-child3,
.news-inner,
.news-item {
  position: absolute;
  bottom: 763px;
  left: calc(50% - 468px);
  border-radius: var(--br-20xl) 0 var(--br-16xl) 0;
  background-color: var(--color-darkgray-100);
  width: 168px;
  height: 133px;
}
.news-child1,
.news-child2,
.news-child3,
.news-inner {
  left: calc(50% - 276px);
  border-radius: var(--br-8xl);
}
.news-child1,
.news-child2,
.news-child3 {
  left: calc(50% - 84px);
  border-radius: var(--br-47xl-5);
}
.news-child2,
.news-child3 {
  left: calc(50% + 108px);
  border-radius: var(--br-13xl);
}
.news-child3 {
  left: calc(50% + 300px);
  border-radius: var(--br-11xl) 0 0 0;
}
.news-child4,
.news-child5 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 644px;
}
.news-child5 {
  bottom: 226px;
  left: calc(50% - 574px);
  border-radius: 50%;
  background-color: var(--color-dimgray-200);
  width: 274px;
  height: 271px;
}
.group-child64,
.group-child65,
.group-child66,
.group-child67,
.group-child68 {
  position: absolute;
  bottom: 135px;
  left: calc(50% - 96px);
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-100);
  width: 192px;
  height: 20px;
}
.group-child65,
.group-child66,
.group-child67,
.group-child68 {
  bottom: 101px;
}
.group-child66,
.group-child67,
.group-child68 {
  bottom: 68px;
  width: 117.3px;
  height: 19px;
}
.group-child67,
.group-child68 {
  bottom: 34px;
  width: 174.8px;
  height: 20px;
}
.group-child68 {
  bottom: 0;
  width: 143.6px;
}
.rectangle-parent11,
.rectangle-parent12 {
  position: absolute;
  bottom: 396px;
  left: calc(50% - 204px);
  width: 192px;
  height: 155px;
}
.rectangle-parent12 {
  bottom: 204px;
}
.group-child74,
.group-child75,
.group-child76,
.group-child77,
.group-child78 {
  position: absolute;
  bottom: 135px;
  left: calc(50% - 90px);
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-100);
  width: 180px;
  height: 20px;
}
.group-child75,
.group-child76,
.group-child77,
.group-child78 {
  bottom: 101px;
}
.group-child76,
.group-child77,
.group-child78 {
  bottom: 68px;
  width: 110px;
  height: 19px;
}
.group-child77,
.group-child78 {
  bottom: 34px;
  width: 163.8px;
  height: 20px;
}
.group-child78 {
  bottom: 0;
  width: 134.6px;
}
.rectangle-parent13,
.rectangle-parent14 {
  position: absolute;
  bottom: 396px;
  left: calc(50% + 107px);
  width: 180px;
  height: 155px;
}
.rectangle-parent14 {
  bottom: 204px;
}
.group-child84,
.group-child85,
.group-child86,
.group-child87,
.group-child88,
.news-child6 {
  position: absolute;
  bottom: 83px;
  left: calc(50% - 564px);
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-100);
  width: 1128px;
  height: 15px;
}
.group-child84,
.group-child85,
.group-child86,
.group-child87,
.group-child88 {
  bottom: 135px;
  left: calc(50% - 84px);
  width: 168px;
  height: 20px;
}
.group-child85,
.group-child86,
.group-child87,
.group-child88 {
  bottom: 101px;
}
.group-child86,
.group-child87,
.group-child88 {
  bottom: 68px;
  width: 102.7px;
  height: 19px;
}
.group-child87,
.group-child88 {
  bottom: 34px;
  width: 152.9px;
  height: 20px;
}
.group-child88 {
  bottom: 0;
  width: 125.6px;
}
.rectangle-parent15,
.rectangle-parent16 {
  position: absolute;
  bottom: 396px;
  left: calc(50% + 396px);
  width: 168px;
  height: 155px;
}
.rectangle-parent16 {
  bottom: 204px;
}
.news-child7,
.news-child8 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: var(--color-silver-200);
  width: 1440px;
  height: 249px;
}
.news-child8 {
  top: 109px;
  left: 152px;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  width: 186px;
  height: 186px;
}
.news-child9 {
  position: absolute;
  top: 123px;
  left: 536px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 744px;
  height: 22px;
}
.group-child94,
.group-child95 {
  position: absolute;
  top: 0;
  left: calc(50% - 564px);
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-gray-300);
  width: 1128px;
  height: 615.4px;
}
.group-child95 {
  top: 1848px;
  left: calc(50% + 564px);
  background-color: var(--color-gainsboro-100);
  height: 1232.6px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.rectangle-parent17 {
  position: absolute;
  top: 0;
  left: calc(50% - 564px);
  width: 1128px;
  height: 1848px;
}
.group-child96,
.group-child97,
.group-child98,
.group-child99 {
  position: absolute;
  top: 353.1px;
  left: calc(50% - 468px);
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 840px;
  height: 18.3px;
}
.group-child97,
.group-child98,
.group-child99 {
  top: 785.5px;
  width: 734px;
  height: 19.3px;
}
.group-child98,
.group-child99 {
  top: 157.3px;
  width: 804px;
  height: 17.3px;
}
.group-child99 {
  top: 550px;
  width: 744px;
  height: 19.3px;
}
.group-child100,
.group-child101,
.group-child102,
.group-child103,
.group-child104,
.group-child105,
.group-child106 {
  position: absolute;
  top: 982.3px;
  left: calc(50% - 468px);
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 874px;
  height: 18.3px;
}
.group-child101,
.group-child102,
.group-child103,
.group-child104,
.group-child105,
.group-child106 {
  top: 0;
  width: 706px;
}
.group-child102,
.group-child103,
.group-child104,
.group-child105,
.group-child106 {
  top: 392.7px;
  width: 672px;
  height: 17.3px;
}
.group-child103,
.group-child104,
.group-child105,
.group-child106 {
  top: 826px;
  width: 936px;
}
.group-child104,
.group-child105,
.group-child106 {
  top: 195.8px;
  width: 888px;
  height: 19.3px;
}
.group-child105,
.group-child106 {
  top: 590.6px;
  width: 768px;
  height: 17.3px;
}
.group-child106 {
  top: 1020.9px;
  width: 840px;
  height: 19.3px;
}
.group-child107,
.group-child108,
.group-child109,
.group-child110,
.group-child111,
.group-child112,
.group-child113,
.group-child114 {
  position: absolute;
  top: 38.5px;
  left: calc(50% - 468px);
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 830px;
  height: 19.3px;
}
.group-child108,
.group-child109,
.group-child110,
.group-child111,
.group-child112,
.group-child113,
.group-child114 {
  top: 431.3px;
  width: 768px;
}
.group-child109,
.group-child110,
.group-child111,
.group-child112,
.group-child113,
.group-child114 {
  top: 864.6px;
  width: 800px;
  height: 18.3px;
}
.group-child110,
.group-child111,
.group-child112,
.group-child113,
.group-child114 {
  top: 235.4px;
  width: 744px;
}
.group-child111,
.group-child112,
.group-child113,
.group-child114 {
  top: 629.2px;
  width: 864px;
}
.group-child112,
.group-child113,
.group-child114 {
  top: 78.1px;
  width: 672px;
}
.group-child113,
.group-child114 {
  top: 471.9px;
  width: 840px;
  height: 19.3px;
}
.group-child114 {
  top: 904.2px;
  width: 864px;
  height: 18.3px;
}
.group-child115,
.group-child116,
.group-child117,
.group-child118,
.group-child119,
.group-child120,
.group-child121 {
  position: absolute;
  top: 274px;
  left: calc(50% - 468px);
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 918px;
  height: 19.3px;
}
.group-child116,
.group-child117,
.group-child118,
.group-child119,
.group-child120,
.group-child121 {
  top: 668.7px;
  width: 456px;
  height: 18.3px;
}
.group-child117,
.group-child118,
.group-child119,
.group-child120,
.group-child121 {
  top: 117.7px;
  width: 864px;
}
.group-child118,
.group-child119,
.group-child120,
.group-child121 {
  top: 510.4px;
  width: 552px;
  height: 19.3px;
}
.group-child119,
.group-child120,
.group-child121 {
  top: 942.8px;
  width: 768px;
}
.group-child120,
.group-child121 {
  top: 313.6px;
  width: 744px;
  height: 18.3px;
}
.group-child121 {
  top: 746.9px;
  width: 854px;
}
.group-child122,
.rectangle-parent18 {
  position: absolute;
  left: calc(50% - 468px);
  width: 936px;
}
.group-child122 {
  top: 707.3px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  height: 19.3px;
}
.rectangle-parent18 {
  top: 710.4px;
  height: 1040.2px;
}
.group-parent,
.news-child10 {
  position: absolute;
  top: 438px;
  left: calc(50% - 564px);
  width: 1128px;
  height: 1848px;
}
.news-child10 {
  top: 2375px;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-100);
  width: 456px;
  height: 85px;
}
.news-child11,
.news-child12,
.news-child13,
.news-child14,
.news-child15,
.news-child16 {
  position: absolute;
  top: 2507px;
  left: calc(50% - 468px);
  border-radius: var(--br-xs) 0 0 var(--br-xs);
  background-color: var(--color-gray-300);
  width: 351px;
  height: 250px;
}
.news-child12,
.news-child13,
.news-child14,
.news-child15,
.news-child16 {
  top: 2804px;
}
.news-child13,
.news-child14,
.news-child15,
.news-child16 {
  top: 3101px;
}
.news-child14,
.news-child15,
.news-child16 {
  top: 2757px;
  left: calc(50% + 468px);
  background-color: var(--color-gainsboro-100);
  width: 585px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.news-child15,
.news-child16 {
  top: 3054px;
}
.news-child16 {
  top: 3351px;
}
.label-text6 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.primary-action6,
.state-layer9 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.state-layer9 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xl);
}
.primary-action6 {
  border-radius: var(--br-81xl);
  background-color: var(--m3-sys-dark-primary);
  overflow: hidden;
  flex-direction: column;
}
.actions6,
.actions7,
.actions8 {
  position: absolute;
  top: 2676px;
  left: calc(50% + 113px);
  width: 323px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.actions7,
.actions8 {
  top: 2973px;
}
.actions8 {
  top: 3270px;
}
.news {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 4506px;
  overflow: hidden;
  text-align: center;
  font-size: var(--m3-label-large-size);
  color: var(--m3-sys-dark-on-primary);
  font-family: var(--m3-label-large);
}
