.team-child {
  position: absolute;
  bottom: 981px;
  left: calc(50% - 564px);
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-100);
  width: 456px;
  height: 85px;
}
.team-child1,
.team-child2,
.team-child3,
.team-inner,
.team-item {
  position: absolute;
  bottom: 763px;
  left: calc(50% - 468px);
  border-radius: var(--br-20xl) 0 var(--br-16xl) 0;
  background-color: var(--color-darkgray-100);
  width: 168px;
  height: 133px;
}
.team-child1,
.team-child2,
.team-child3,
.team-inner {
  left: calc(50% - 276px);
  border-radius: var(--br-8xl);
}
.team-child1,
.team-child2,
.team-child3 {
  left: calc(50% - 84px);
  border-radius: var(--br-47xl-5);
}
.team-child2,
.team-child3 {
  left: calc(50% + 108px);
  border-radius: var(--br-13xl);
}
.team-child3 {
  left: calc(50% + 300px);
  border-radius: var(--br-11xl) 0 0 0;
}
.team-child4,
.team-child5 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 644px;
}
.team-child5 {
  bottom: 226px;
  left: calc(50% - 574px);
  border-radius: 50%;
  background-color: var(--color-dimgray-200);
  width: 274px;
  height: 271px;
}
.group-child123,
.group-child124,
.group-child125,
.group-child126,
.group-child127 {
  position: absolute;
  bottom: 135px;
  left: calc(50% - 96px);
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-100);
  width: 192px;
  height: 20px;
}
.group-child124,
.group-child125,
.group-child126,
.group-child127 {
  bottom: 101px;
}
.group-child125,
.group-child126,
.group-child127 {
  bottom: 68px;
  width: 117.3px;
  height: 19px;
}
.group-child126,
.group-child127 {
  bottom: 34px;
  width: 174.8px;
  height: 20px;
}
.group-child127 {
  bottom: 0;
  width: 143.6px;
}
.rectangle-parent19,
.rectangle-parent20 {
  position: absolute;
  bottom: 396px;
  left: calc(50% - 204px);
  width: 192px;
  height: 155px;
}
.rectangle-parent20 {
  bottom: 204px;
}
.group-child133,
.group-child134,
.group-child135,
.group-child136,
.group-child137 {
  position: absolute;
  bottom: 135px;
  left: calc(50% - 90px);
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-100);
  width: 180px;
  height: 20px;
}
.group-child134,
.group-child135,
.group-child136,
.group-child137 {
  bottom: 101px;
}
.group-child135,
.group-child136,
.group-child137 {
  bottom: 68px;
  width: 110px;
  height: 19px;
}
.group-child136,
.group-child137 {
  bottom: 34px;
  width: 163.8px;
  height: 20px;
}
.group-child137 {
  bottom: 0;
  width: 134.6px;
}
.rectangle-parent21,
.rectangle-parent22 {
  position: absolute;
  bottom: 396px;
  left: calc(50% + 107px);
  width: 180px;
  height: 155px;
}
.rectangle-parent22 {
  bottom: 204px;
}
.group-child143,
.group-child144,
.group-child145,
.group-child146,
.group-child147,
.team-child6 {
  position: absolute;
  bottom: 83px;
  left: calc(50% - 564px);
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-100);
  width: 1128px;
  height: 15px;
}
.group-child143,
.group-child144,
.group-child145,
.group-child146,
.group-child147 {
  bottom: 135px;
  left: calc(50% - 84px);
  width: 168px;
  height: 20px;
}
.group-child144,
.group-child145,
.group-child146,
.group-child147 {
  bottom: 101px;
}
.group-child145,
.group-child146,
.group-child147 {
  bottom: 68px;
  width: 102.7px;
  height: 19px;
}
.group-child146,
.group-child147 {
  bottom: 34px;
  width: 152.9px;
  height: 20px;
}
.group-child147 {
  bottom: 0;
  width: 125.6px;
}
.rectangle-parent23,
.rectangle-parent24 {
  position: absolute;
  bottom: 396px;
  left: calc(50% + 396px);
  width: 168px;
  height: 155px;
}
.rectangle-parent24 {
  bottom: 204px;
}
.team-child7,
.team-child8 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: var(--color-silver-200);
  width: 1440px;
  height: 249px;
}
.team-child8 {
  top: 109px;
  left: 152px;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  width: 186px;
  height: 186px;
}
.team-child9 {
  position: absolute;
  top: 123px;
  left: 536px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 744px;
  height: 22px;
}
.content7 {
  flex: 1;
  height: 40px;
}
.iconsmore-vert-24px3 {
  width: 24px;
  position: relative;
  height: 24px;
}
.container3,
.state-layer12 {
  flex-direction: row;
  justify-content: center;
}
.state-layer12 {
  display: flex;
  align-items: center;
  padding: var(--padding-5xs);
}
.container3 {
  border-radius: var(--br-81xl);
  overflow: hidden;
}
.container3,
.header3,
.icon-button3 {
  display: flex;
  align-items: center;
}
.icon-button3 {
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
}
.header3 {
  align-self: stretch;
  height: 72px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-9xs) var(--padding-xs)
    var(--padding-base);
  box-sizing: border-box;
}
.media-icon3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.media-text-content3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content6 {
  top: 0;
  border-radius: var(--br-xs);
  height: 536px;
  overflow: hidden;
}
.content-parent,
.content6,
.group-child153 {
  position: absolute;
  left: 0;
  width: 360px;
}
.group-child153 {
  top: 324px;
  border-radius: var(--br-xs);
  background-color: var(--color-dimgray-200);
  height: 212px;
}
.content-parent {
  top: 0;
  height: 536px;
}
.content-container,
.content-group,
.content-parent1 {
  position: absolute;
  top: 562px;
  left: 0;
  width: 360px;
  height: 536px;
}
.content-container,
.content-parent1 {
  top: 0;
  left: 384px;
}
.content-parent1 {
  top: 562px;
}
.content-parent2,
.content-parent3,
.group-container {
  position: absolute;
  top: 0;
  left: 768px;
  width: 360px;
  height: 536px;
}
.content-parent3,
.group-container {
  top: 562px;
}
.group-container {
  top: 880px;
  left: 156px;
  width: 1128px;
  height: 1098px;
}
.group-child159 {
  position: absolute;
  top: 39px;
  left: calc(50% - 468px);
  width: 910.3px;
  height: 18px;
}
.group-child159,
.group-child160,
.group-child161,
.group-child162 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
}
.group-child160 {
  position: absolute;
  top: 236px;
  left: calc(50% - 468px);
  width: 805.7px;
  height: 19px;
}
.group-child161,
.group-child162 {
  height: 17px;
}
.group-child161 {
  position: absolute;
  top: 79px;
  left: calc(50% - 468px);
  width: 727.7px;
}
.group-child162 {
  top: 277px;
  width: 832.3px;
}
.group-child162,
.group-child163,
.group-child164 {
  position: absolute;
  left: calc(50% - 468px);
}
.group-child163 {
  top: 117px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 832.3px;
  height: 20px;
}
.group-child164 {
  top: 315px;
  width: 936px;
  height: 18px;
}
.group-child164,
.group-child165,
.group-child166 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
}
.group-child165 {
  position: absolute;
  top: 158px;
  left: calc(50% - 468px);
  width: 910.3px;
  height: 19px;
}
.group-child166 {
  top: 196px;
  width: 598.3px;
  height: 20px;
}
.group-child166,
.group-child167,
.rectangle-parent25 {
  position: absolute;
  left: calc(50% - 468px);
}
.group-child167 {
  top: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 805.7px;
  height: 18px;
}
.rectangle-parent25 {
  top: 462px;
  width: 936px;
  height: 333px;
}
.team {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3182px;
  overflow: hidden;
}
