<footer class="footer bg-green">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mt-4 col-lg-4">
                            <a href="/"><img src="../assets/images/white_logo.png" width="300px" class="img img-responsive" /></a>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-4 col-lg-4 text-left text-sm-start">
                            <div class="information">
                                <h6 class="footer-heading text-uppercase text-white fw-bold">Useful Links</h6>
                                <ul class="list-unstyled footer-link mt-4">
                                    <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Events</a></li>
                                    <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">About Us</a></li>
                                    <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Our Team</a></li>
                                    <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Upcoming Events</a></li>
                                    <li class=""><a href="" class="text-white text-decoration-none fw-semibold">COntact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-4 col-lg-4 text-left text-sm-start">
                            <div class="contact">
                                <h6 class="footer-heading text-uppercase text-white fw-bold">Contact Us</h6>
                                <address class="mt-4 m-0 text-white mb-1"><i class="bi bi-pin-map fw-semibold"></i> P.O. Box 20774, Nairobi 00202, Kenya</address>
                                <a href="mailto:info@datascienceafrica.org " class="text-white mb-1 text-decoration-none d-block fw-semibold"><i class="glyphicon glyphicon-envelope"></i> info@datascienceafrica.org </a>
                            </div>
                            <div class="social">
                                <h6 class="footer-heading text-uppercase text-white fw-bold">Social</h6>
                                <ul class="list-inline my-4">
                                    <li class="list-inline-item">
                                        <a href="" class="text-white btn-sm btn btn-primary mb-2"><i class="bi bi-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="" class="text-danger btn-sm btn btn-light mb-2"><i class="bi bi-instagram"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="" class="text-white btn-sm btn btn-primary mb-2"><i class="bi bi-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="" class="text-white btn-sm btn btn-success mb-2"><i class="bi bi-whatsapp"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center bg-green text-white mt-4 p-1">
                    <p class="mb-0 fw-bold">2024 © Data Science Africa, All Rights Reserved</p>
                </div>
            </footer>