<div class="container mt-5">
                <h1>Highlights</h1>
                <div class="row mt-3">
                    <div class="col-lg-4 col-sm-12 mb-5">
                        <div class="tpn_card">
                            <img src="../assets/images/highlight_1.png" class="w-100 mb-4 img img-fluid" />
                            <h5>Embedded ML - Tiny ML</h5>
                            <p>
                                TinyML is a cutting-edge field that brings the transformative power of machine learning (ML) to the performance- and power-constrained domain of tiny devices and embedded systems. Successful deployment in
                                this field requires intimate knowledge of applications, algorithms, hardware, and software.
                            </p>
                            <a href="javascript:;" class="btn tpn_btn">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 mb-5">
                        <div class="tpn_card">
                            <img src="../assets/images/highlight_1.png" class="w-100 mb-4 img img-fluid" />
                            <h5>Summer School</h5>
                            <p>
                                In the tradition of previous Data Science Africa events, a summer school on machine learning and data science will be held prior to the main workshop. This summer school will target graduate students,
                                researchers, and professionals working with huge amounts of data or unique datasets....
                            </p>
                            <a href="javascript:;" class="btn tpn_btn">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 mb-5">
                        <div class="tpn_card">
                            <img src="../assets/images/highlight_1.png" class="w-100 mb-4 img img-fluid" />
                            <h5>Workshop</h5>
                            <p>
                                The workshop will be organized around paper presentations and interactive panel discussions. The theme for the workshop is Data, Technology, and Community. We want to highlight the work of the community in
                                Data Science in Africa. We strongly encourage the participation of researchers....
                            </p>
                            <a href="javascript:;" class="btn tpn_btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>