<div class="container mt-5">
                <h1>News Updates</h1>
                <div class="row mt-3">
                    <div class="col-lg-12 col-sm-12 mb-5">
                        <div class="card">
                            <img src="../assets/images/highlight_1.png" alt="Image" class="card-image img img-fluid" />
                            <div class="card-content">
                                <h2 class="card-title">Summer School</h2>
                                <p class="card-text">
                                    In the tradition of previous Data Science Africa events, a summer school on machine learning and data science will be held prior to the main workshop. This summer school will target graduate students,
                                    researchers, and professionals working with
                                </p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 mb-5">
                        <div class="card">
                            <img src="../assets/images/highlight_1.png" alt="Image" class="card-image img img-fluid" />
                            <div class="card-content">
                                <h2 class="card-title">Workshop</h2>
                                <p class="card-text">
                                    Extended Abstracts Karibu! We invite you to submit an extended abstract for the Data Science Africa (DSA) 2024 workshop that will be held in Nyeri, Kenya from June 6th to June 7th. The abstracts should
                                    focus on African challenges or methods
                                </p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 mb-5">
                        <div class="card">
                            <img src="../assets/images/highlight_1.png" alt="Image" class="card-image img img-fluid" />
                            <div class="card-content">
                                <h2 class="card-title">Workshop</h2>
                                <p class="card-text">
                                    Extended Abstracts Karibu! We invite you to submit an extended abstract for the Data Science Africa (DSA) 2024 workshop that will be held in Nyeri, Kenya from June 6th to June 7th. The abstracts should
                                    focus on African challenges or methods
                                </p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>